.round-button {
    width: 40px;
}
.round-button-circle {
    width: 40px;
    height: 0px;
    padding-bottom: 100%;
    border-radius: 50%;

    border:1px solid gray;
    overflow:hidden;

    background: #FF0000;
}
.round-button-circle:hover {
    background: #CC0000;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:white;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.round-button a:visited {
  color:white;
}

.buttonBar {
  float: right;
}

tbody {
    height: 120px;
    overflow-y: auto;
}
